html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100dvh;
    /* clave para móvil */
    background: black;

    touch-action: none;
}

canvas {
    display: block;
}